{% extends "base.html.twig" %}

{% block body %}
    <header class="header">
        <h1 class="header__title">Les Actus</h1>
        <p class="header__subtitle">Retrouvez ici toutes les dernières news importantes et restez au courant de tout !</p>
        <img src="data/img/others/actus.png" alt="actus" class="header__image">
    </header>

    <section class="main">
        <h3 class="main__title">News récentes</h3>
        <ul class="main__all-news">
            <li class="news">
                <img src="data/img/others/news.png" alt="news" class="news__image">
                <div class="news__content">
                    <h3 class="news__content__title">Journées portes ouvertes le samedi 6 février sur internet.</h3>
                    <p class="news__content__date">07/02/2020</p>
                    <img src="data/svg/arrow-primary.svg" alt="arrow" class="news__content__arrow">
                </div>
            </li>

            {% for article in articles %}
                <li class="news">
                    <img src="{{ article.img }}" alt="news" class="news__image">
                    <div class="news__content">
                        <h3 class="news__content__title">J{{ article.title }}</h3>
                        <p class="news__content__date">{{ article.date | date("m/d/Y")}}</p>
                        <img src="data/svg/arrow-primary.svg" alt="arrow" class="news__content__arrow">
                    </div>
                </li>
            {% endfor %}

        </ul>
    </section>
{% endblock %}

