$primary: #EC6D8B;
$secondary: #FDE2EA;
$tertiary: #5A38FD;
$quaternary: #82B1FF;
$dark: #1b1b1b;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@mixin h1() {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 2rem;
  color: $dark;
  width: fit-content;
}

@mixin h2() {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 1.5rem;
  color: $dark;
}

@mixin h3() {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: .9rem;
  color: $dark;
}

@mixin h4() {
  font-family: "Poppins", sans-serif;
  font-size: .9rem;
  color: $dark;
}

@mixin paragraph() {
  font-family: "Poppins", sans-serif;
  font-size: .75rem;
  line-height: 120%;
  color: $dark;
}

@mixin littletext() {
  font-family: "Poppins", sans-serif;
  font-size: .6rem;
  line-height: 120%;
  color: rgba($dark, .3);
}

@mixin underline() {
  position: relative;

  &:before {
    content: "";
    width: 100%;
    height: .6em;
    bottom: -.1em;
    left: 0;
    position: absolute;
    background-color: $secondary;
    z-index: -1;
  }
}

@mixin round-edge() {
  border-radius: .5rem;
}

@mixin shadow() {
  box-shadow: 0 .6rem 1rem rgba($tertiary, .08);
}

body {
  overflow-x: hidden;
}

.nav {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding: 2.2rem;
  position: relative;

  &__logo {
    position: absolute;
    top: 2.2rem;
    left: 2.2rem;
  }

  &__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.6rem;
    height: 2.6rem;
    background-color: rgba($primary, .2);
    @include round-edge();

    &__icon {
      width: 1.3rem;
    }
  }

  &__user {
    margin-right: .7rem;
    position: relative;

    &__image {
      width: 2.6rem;
      height: 2.6rem;
      @include round-edge();
    }

    &__indicator {
      background-color: $quaternary;
      width: .8rem;
      height: .8rem;
      border-radius: 100%;
      position: absolute;
      bottom: -.1rem;
      right: -.1rem;
    }
  }
}

.header {
  padding: 1rem 2.2rem;
  position: relative;

  &__title {
    @include h1();
    @include underline();
  }

  &__subtitle {
    margin-top: 1rem;
    width: 60%;
    @include paragraph();
  }

  &__image {
    width: 40%;
    position: absolute;
    top: -1rem;
    right: 1rem;
  }
}

.main {
  padding: 2.2rem;

  &__title {
    @include h3();
  }

  &__all-news {
    display: flex;
    flex-direction: column;
  }
}

.news {
  background-color: #FFF;
  display: flex;
  margin-top: 1.25rem;
  @include round-edge();
  @include shadow();

  &__image {
    width: 7.5rem;
    height: 7.5rem;
    @include round-edge();
  }

  &__content {
    padding: 1rem;
    position: relative;

    &__title {
      @include h3();
    }

    &__date {
      position: absolute;
      bottom: 1rem;
      left: 1rem;
      @include littletext();
    }

    &__arrow {
      width: 1.3rem;
      position: absolute;
      bottom: 1rem;
      right: 1rem;
    }
  }
}

.news-header {
  padding-bottom: 1.5rem;
  margin-top: 1rem;
  position: relative;
  @include shadow();

  &__image {
    width: 100vw;
    max-height: 12rem;
    object-fit: cover;
  }

  &__title {
    margin: 1rem 2.2rem;
    text-align: center;
    @include h2();
  }

  &__author {
    margin-left: 2.2rem;
    @include littletext();
  }

  &__date {
    position: absolute;
    bottom: 1.5rem;
    right: 2.2rem;
    @include littletext();
  }

  &__back-button {
    background-color: $primary;
    border: none;
    outline: none;
    @include round-edge();
    padding: .5rem .7rem;
    position: absolute;
    top: -1rem;
    left: 2.2rem;

    &__arrow {
      width: 1.3rem;
      transform: rotate(180deg);
    }
  }
}

.news-content {
  margin: 1.5rem 3rem;

  &__paragraph {
    margin-bottom: 1rem;
    @include paragraph();
  }

  &__image {
    width: 100%;
  }
}